{% extends "layout.html" %}
{% block title %}Derivative Strategies{% endblock %}
{% block content %}

<div class="container">
	<header class="jumbotron" style="background: #101010;">
		<div class="container" id="jumbo1" style="color: white;" >
			<h1>Welcome to the Derivatives Strategies Pricer</h1>
			<p>Price your strategy today</p>
			<!-- <p>
				<a class="btn btn-primary btn-lg" href="/strategies/new">Add new strategy!</a>
			</p> -->
		</div>
	</header>
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		{% for strat in Strategies: %}
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="{{strat.image}}" >
				<div class="caption">
					<h4>{{strat.name}}</h4>
				</div>
				<p>
					<a href="/strategies/{{strat.id}}" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		{% endfor %}
		
	</div>

	
</div>
{% endblock %}